{% extends 'base1.html' %}

{% block main_content %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <h4>产品列表</h4>
            </div>
        </div>
        <div class="panel-body">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for msg in messages %}
                           <li>
                               {{msg}}
                           </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <table class="table table-hover">
                <tr>
                    <th>序号</th>
                    <th>型号</th>
                    <th>用途</th>
                    <th>动力</th>
                    <th>材料</th>
                    <th>风格</th>
                    <th>主题</th>
                    <th>品牌</th>
                    <th>单价</th>
                    <th>操作</th>
                </tr>
                {% for product in products%}
                <tr>
                    <td>{{product[0]}}</td>
                    <td>{{product[1].xinghao}}</td>
                    <td>{{product[1].yongtu}}</td>
                    <td>{{product[1].dongli}}</td>
                    <td>{{product[1].cailiao}}</td>
                    <td>{{product[1].fengge}}</td>
                    <td>{{product[1].zhuti}}</td>
                    <td>{{product[1].pinpai}}</td>
                    <td>{{product[1].danjia}}</td>
                    <td>
                        <a href="{{url_for('product_info',xinghao = product[1].xinghao )}}" class="btn btn-default btn-xs" title="查看">查看</a>
                        <a href="{{url_for('product_edit',xinghao = product[1].xinghao )}}" class="btn btn-default btn-xs" title="编辑">编辑</a>
                        <a href="{{url_for('product_del',xinghao = product[1].xinghao )}}" class="btn btn-default btn-xs" title="删除">删除</a>
                    </td>
                </tr>

                {% endfor %}
            </table>

            <div class="row">
                <div class='col-md-12 col-md-offset-5'>
                    <ul class='pagination'>
                        <!--首页-->
                        {% if id==1 %}
                            <li class= 'disabled' ><a href='#'>&laquo;</a></li>
                        {% else %}
                            <li class= 'active' ><a href='{{url_for("p")}}'>&laquo;</a></li>
                        {% endif %}
                        <!--本项目数据量较少，所以分页暂用此方案。大数据量时应使用orm框架的分页-->
                        {% for page in range(1,pages+1)%}
                            <li><a href='{{url_for("product_list",id = page)}}'>{{page}}</a></li>
                        {% endfor %}
                        <!--末页-->
                        {% if id==pages %}
                            <li class= 'disabled' ><a href='#'>&raquo;</a></li>
                        {% else %}
                            <li class= 'active' ><a href='{{url_for("product_list",id = pages)}}'>&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-footer">

        </div>
    </div>
</div>

{% endblock %}